

  <div class="card" id="container" style=" position:relative; margin-left: 20%; margin-top: 5%;margin-right: 50%; border-style:solid;border-color: black;">
    <img class="card-img-top" src={{image_path}} style= " margin-left: 1%; max-width: 99%;" alt="Card image">
    <div class="card-body">
      <h4 class="card-title" style="margin-left: 5%;">{{title}}</h4>
      <p class="card-text">{{text}}</p>
      
      <button type="button" class="btn btn-primary btn-lg" (click) ="showDetails()"  style="margin-left: 100px;">{{button_name}}</button>
      
     
    </div>
  </div>


 